
wheel
setuptools
numpy

torch
torchvision
torchaudio

audiocraft

python-dotenv
langchain
transformers
PyQt5
langchain_community
sentence-transformers
langchain_openai
langchain_huggingface
langchain_chroma
pypdf
